body{
	background-color: #F3F3F3;
}

.menu{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 216px;
	height: 100%;
	background-color: white;
}

.knopka_invest{
	margin-top: 12px;
	margin-left: 15px;
}

.knopka_pomoch{
	margin-top: 21px;
	margin-left: 40px;
}

.knopka_dannie{
	margin-top: 23px;
	margin-left: 40px;
}

.kontakti{
	margin-left: 40px;
}

.kontakti_nomera{
	margin-top: 0px;
	margin-left: 10px;
}

.prisoedinaites{
	margin-left: 10px;
}

.vihod{
	margin-top: 50%;
	margin-left: 70%;
}

.icon{
	margin-left: 30px;
}

.vas_meneger{
	margin-top: 15px;
	margin-left: 200px;
}

.fio_meneger{
	margin-top: -10px;
	margin-left: 180px;
}

.tel_mail{
	margin-top: -10px;
	margin-left: 180px;
}

.dan_prof{
	margin-top: 20px;
	margin-left: 225px;
	width: 1230px;
	height: 85px;
	border: 1px;
	background-color: white;
	box-shadow: 0 0 3px 3px #DCDCDC;
	line-height: 85px;
}

.meneger{
	position: absolute;
	margin-top: 20px;
	margin-left: 225px;
	width: 605px;
	height: 145px;
	border: 1px;
	background-color: white;
	box-shadow: 0 0 3px 3px #DCDCDC;
}

.inf{
	position: absolute;
	margin-top: 185px;
	margin-left: 225px;
	width: 605px;
	height: 200px;
	border: 1px;
	background-color: white;
	box-shadow: 0 0 3px 3px #DCDCDC;
}

.foto{
	margin-top: 20px;
	margin-left: 60px;
}

.inf_o_vlad{
	margin-top: 25px;
	margin-left: 120px;
}

.tablicha{
	margin-top: 20px;
	margin-left: 50px;

}

.kripta_dengi{
	position: absolute;
	margin-top: 20px;
	margin-left: 850px;
	width: 605px;
	height: 365px;
	background-color: white;
	box-shadow: 0 0 3px 3px #DCDCDC;
}

.balans{
	margin-left: 10px;
}

.popolnit1{
	margin-left: 20%;
	background: #006400;
	color: white;
	font-weight: bold;
}

.popolnit2{
	margin-left: 22%;
	background: #006400;
	color: white;
	font-weight: bold;
}

.popolnit3{
	margin-left: 16%;
	background: #006400;
	color: white;
	font-weight: bold;
}

.vivesti1{
	background: #32CD32;
	color: black;
	font-weight: bold;
}

.vivesti2{
	background: #32CD32;
	color: black;
	font-weight: bold;
}

.vivesti3{
	background: #32CD32;
	color: black;
	font-weight: bold;
}

.zapros{
	margin-top: -35px;
	margin-left: 400px;
}

.konvertirovat{
	margin-left: 30px;
}

.zapros2{
	margin-top: -20px;
	margin-left: 30%;
}

.nomer_karti{
	margin-top: -50px;
	margin-left: 70%;
}

.zachislenie{
	margin-top: 40px;
	margin-left: 30px;
}

.vivod{
	position: relative;
	margin-top: 255px;
	margin-left: 1200px;
}

.podval{
	margin-top: 100px;
	margin-left: 300px;
}

.podval2{
	width: 1100px;
	margin-top: 10px;
	margin-left: 250px;
}